version: '3.8'
services:
  client:
    container_name: zahn-frontend
    image: IMAGE_PLACEHOLDER
    ports:
      - "80:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
  